{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}" />

{% block content %}
<nav class="navbar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="/progress">PROGRESS</a>
    </li>
  </ul>
    <a class="nav-link active logout" href="/">LOGOUT</a>
</nav>
<div class="cont">
    <form action="{% url 'quiz:quiz_post' %}" method="post">
        {% csrf_token %}
        <div id="wrapper">
            <h3 class="inline">Score: {{ name.current_score }}</h3>
            <div class="sec_nav">
                <button class="btn btn-outline-secondary prev" type="submit" {{prevstate}} name='previous' value={{prev}}>Previous</button>
                <button class="btn btn-outline-secondary next" type="submit" {{nextstate}} name='next' value={{next}}>Next</button>
            </div>
        </div>
        {% for t in title %}
            <h2>{{t.text}}</h2>
        {% endfor %}
        <br>
        <div class="justify">
            {{page.text}}
        </div>
        {% for i in image %}
            <img class="img" src="/static/quiz/images/{{i.imgname}}" alt="{{i.imgname}}">
        {% endfor %}

        {% if quote != "" %}
        <br><i>{{ quote.text }}</i>
        {% endif %}

        {% if question != "" %}
            {% if question.worth_points %}
                <h4 class="question"><span class="fa fa-star" aria-hidden="true"></span>  {{ question.text}}</h4>
            {% else %}
                <h4 class="question">{{ question.text}}</h4>
            {% endif %}
        {% endif %}
            {% if question_type == "multichoice" %}
                {% for a in answers %}
                    <button class="btn btn-outline-secondary" type="submit" name='next_page' value={{a.next_page.page_id}}>{{ a.text }}</button><br>
                {% endfor %}
            {% else %}
                {% if question_type == "checkbox" %}
                    {% for a in answers %}
                        <label class="container">{{a.text}}
                            <input type="checkbox" name="answers[]" value="{{a.correct}}">
                            <span class="checkmark"></span>
                            <input type="hidden" name="total[]" value="answer">
                            {% if not a.correct %}
                                <input type="hidden" name="incorrect[]" value="answer">
                            {% endif %}
                        </label>
                    {% endfor %}
                {% endif %}
                <button class="btn btn-outline-secondary" type="submit" name='next_page' value={{button.next_page.page_id}}>{{ button.text }}</button>
            {% endif %}
        <input type="hidden" name="current" value="{{page.page_id}}">
    </form>
</div>
{% endblock %}